.timezone-fixer-popup {
	position: absolute;
	background: #607d8b;
	border: 1px solid #455a64;
	padding: 8px;
	z-index: 9999;
	font-family: 'Courier New', Courier, monospace;
	color: #fff;
	min-width: 320px;
	max-width: 600px;
	border-radius: 8px;
	word-break: break-all;
	/* pointer-events: all; */
	/* display: none;
	for popper.js */
}

/* for popper.js */
/* .timezone-fixer-popup[data-show] {
	display: block;
} */


.timezone-fixer-popup .right-align {
	text-align: right;
	display: block;
}

.timezone-fixer-popup small.right-align {
	margin-top: 10px;
}

.timezone-fixer-popup .icon {
	width: 26px;
	vertical-align: middle;
	display: inline-block;
}

.timezone-fixer-popup h4 {
	margin-top: 0;
	margin-bottom: 5px;
}

.timezone-fixer-popup .time-item-container {
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: right;
}

.timezone-fixer-popup .time-item {
	margin-top: 10px;
	margin-bottom: 10px;
}

.timezone-fixer-popup label {
	display: inline-block;
}

.timezone-fixer-popup select {
	margin: 5px;
	margin-left: auto;
	/* margin-right: auto; */
	display: inline-block;
}

.timezone-fixer-popup a {
	color: #64b5f6;
	/* Material Blue 300 */
	text-decoration: none;
}

.timezone-fixer-popup a:hover {
	color: #42a5f5;
	/* Material Blue 400 */
}

.timezone-fixer-popup a:visited {
	color: #64b5f6;
	/* Material Blue 300 */
}


.timezone-fixer-popup a.copy-time-value {
	cursor: copy;
	color: #18ffff;
}

.timezone-fixer-popup a.copy-time-value:hover {
	color: #00e5ff;
}


.timezone-fixer-popup .time-item-container th:first-child,
.timezone-fixer-popup .time-item-container td:first-child {
	text-align: left;
}

.timezone-fixer-popup .time-item-container th:nth-child(2),
.timezone-fixer-popup .time-item-container td:nth-child(2) {
	text-align: left;
}
